<<<<<<< HEAD
html {
  background-color: #E5E5E5;
=======
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: bold;
  src: local('Oswald Bold'),
  url('../assets/fonts/Oswald.woff') format('woff2')
}

body {
  position: relative;
  margin: 0 auto;
  font-family: 'Oswald';
  h1:first-letter {
    text-transform: capitalize;
  }
  h2:first-letter {
    text-transform: capitalize;
  }
}

img {
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-gap: 0px;
  margin: 48px 48px 48px 48px;
  max-height: 2500px;
  grid-template-rows: 4fr 4fr 3fr;
  .top {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 48px 48px 48px 48px;;
  }

  .middle {
    background-color: #000000;
  }

  .bottom {
    background-color: #000000;
  }

>>>>>>> 924b881104abd238c7caf446f259d8ecb1c75fb9
}

.header {
   margin: 0 auto;
  //position: relative;
  max-width: 1456px;
  max-height: 672px;
}

.header_slider {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //margin: 0 auto;
  //position: relative;
  //max-width: 1456px;
  //max-height: 672px;
  // img {
  //   display: block;
  //   margin-left: auto;
  //   margin-right: auto }
}

<<<<<<< HEAD
.slick-current {
  //width: 100%;
  //max-height: 672px;
}

.slide{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

.slide.slick-slide{
  //min-height:calc(100vh - 40px);
  width: 1456px;
  height: 672px;
}

.slick-arrow {
  z-index: 1;
  //top: 50%;
=======
.slick {
  overflow: hidden;
}

.slick-list {
  display: block;
}

.slider_z {
  display: grid;
  grid-gap: 48px;
  grid-template-columns: 80% 20%;
  align-self: center;
  justify-self: center;
  align-items: center;

  .slider {
    max-height: 800px;
    max-width: 1200px;
    width: 100%;
    .slick-slide {
      margin: 50px;
    }
    div { 
      text-align: center; 
    }
    position: relative;
    .slick-arrow {
      z-index: 1;
      top: 40%;
    }
    /* Стрелка влево */ 
    .slick-arrow.slick-prev{
      left: 120px;
    } 
    /* Стрелка вправо */
    .slick-arrow.slick-next{
      right: 120px;
    }
  }

  .slider_vertical {
    max-height: 100%;
    padding-right: 30px;
    max-width: 100%;
    margin-right: 50px;
    margin-left: -100px;
    margin-top: 50px;
    margin-bottom: 50px;
    .slick-center {
      opacity: 0.5;
    }

    .slick-slide.slick-active:hover {
      opacity: 0.8;
    }

    .slick-track {
      padding-top: 80px;
    }

    img[aria-hidden="true"] {
      opacity: 0;
    }

    img {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
>>>>>>> 924b881104abd238c7caf446f259d8ecb1c75fb9
}

/* Стрелка влево */ 
.slick-arrow.slick-prev{
  margin-top: 287px;
  left: 32px;
} 
/* Стрелка вправо */
.slick-arrow.slick-next{
  margin-top: 287px;
  right: 32px;
}

.nav {
  z-index: 10;
  position: absolute;
<<<<<<< HEAD

  .fetch {
    //position: relative;
    width: 54px;
    height: 31px;
    //left: calc(50% - 54px/2 - 541px);
    //top: 8px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
=======
  margin: 0 auto;
  padding-top: 8%;
  .slick-slide {
   padding: 0 48px;
  }
  div { 
    text-align: center; 
  }
  
  .slick-arrow {
    z-index: 1;
    top: 80%;
  }
  /* Стрелка влево */ 
  .slick-arrow.slick-prev{
  } 
  /* Стрелка вправо */ 
  .slick-arrow.slick-next{
  }

  img {
    margin-top: 48px;
    margin-bottom: 48px;
    -moz-box-shadow:0 0 20px #555;
    -webkit-box-shadow:0 0 20px #555;
    box-shadow:0px 0px 30px #555;
  }
}

.personal_data {
  position: absolute;
  bottom: 48px;
  color: #7A7A7A;
   A {
    color: #7A7A7A;
   }
}

.email {
  display: inline;
  #email_message{
    padding: 15px;
    font-size: 22px;
    font-weight: 500;
  }
}

.msg {
  display: inline;
  #email_message{
    padding: 15px;
  }
}

.bottom {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  .text_bottom {
    color: #C4C4C4;
>>>>>>> 924b881104abd238c7caf446f259d8ecb1c75fb9
    font-size: 24px;
    line-height: 31px;
    color: #000000;
  }
<<<<<<< HEAD
=======

  .mainform {
    margin-top: 48px;
  }

  .message {
    margin: 0 auto;
    border: 4px;
    border-radius: 8px;
    input, textarea {
      border: 4px;
      border-radius: 4px;
      border: solid 1px #CCCCCC;
      padding: 15px;
      outline: 0;
      width: 400px;
      font-size: 20px;
      background: #F9F9F9;
    }
    textarea {
      height: 200px;
    }

    button {
      margin-top: 5px;
      float: right;
      width: 300px;
      height: 65px;
      border: none;
      background: #2401fe;
      color: #f2f2f2;
      font-size: 22px;
      font-weight: bold;
      border-radius: 5px;
    }

    button:hover {
      background: #008DF9;
    }
  }
}

.error {
  color: red;
  font-size: 15px;
}

#error_email {
  margin-top: 5px;
  margin-left: 10px;
  position: absolute;
  display: inline;
}
>>>>>>> 924b881104abd238c7caf446f259d8ecb1c75fb9

  li {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin-left: 24px;
    display: inline-block;
    text-decoration-line: underline;
    color: #000000;
  }
}