@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html {
  background-color: #E5E5E5;
  h1:first-letter {
    text-transform: capitalize;
  }
  h2:first-letter {
    text-transform: capitalize;
  }
  li:first-letter {
    text-transform: capitalize;
  }
}

// img {
//   max-width: 100%;
// }

body {
  font-family: "PT Sans";
  margin: 0 auto;
  a:hover {
    color: #4541FE;
  }
}

.slick-arrow {
  opacity: .8;  
}


.slick-arrow:hover {
  opacity: 1;  
}


.header {
  margin: 0 auto;
  max-width: 1440px;
  max-height: 600px;
}

.header_slider {
  margin: 0 auto;
  .slick-arrow.slick-prev{
    margin-top: 300px;
    left: 22px;
  } 
  /* Стрелка вправо */
  .slick-arrow.slick-next{
    margin-top: 300px;
    right: 22px;
  }
  .slide.slick-slide{
    //min-height:calc(100vh - 40px);
    width: 1440px;
    height: 600px;
  }
}

.slide{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

.slick-arrow {
  z-index: 10;
}

.nav {
  z-index: 10;
  max-width: 1440px;
  width: 100%;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 16px;
  //margin: 0 auto;
  //margin-right: 50px;
  a {
    color: #000000;
  }

  li {
    display: inline-block;
    //font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-right: 20px;
    border-bottom: 1px solid currentColor;
    vertical-align: middle;
    line-height: 0.85;
    color: #000000;
  }

  .fetch {
    margin-left: 150px;
    //font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    border-bottom: none;
    margin-right: 40px;
    a{
      text-decoration-line: none;
    }

  }

  .basket {
    border-bottom: none;
    margin-left: 361px;
  }

  .icon {
    background: url("../assets/img/cart.png") no-repeat;
    padding-left: 18px;
    padding-right: 3px;
    border-bottom: none;
    padding-left: 22px;
    vertical-align: bottom;
  }
}

.light {
  background-color: white;
}

.slider_link {
  margin-top: 362px;
  margin-bottom: 72px;
  margin-left: 152px;
  width: 402px;
  height: 166px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 83px;
  text-decoration-line: underline;
  color: #000000;
}

.slider_black_link {
  width: 576px;
  height: 166px;
  margin-left: 152px;
  margin-top: 362px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 83px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.middle {
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: 312px 529px 553px ;
  grid-template-columns: 100%;
  align-self: center;
  justify-self: center;
  align-items: center;
  background-color: #FFFFFF;
  font-family: "PT Sans";
}

.cat {
  display: grid;
  grid-gap: 28px;
  width: 1095px;
  height: 193px;
  margin: 0 auto;
  grid-template-columns: 240px 126px 124px 135px 147px 147px;
}

.info {
  margin-top: -10px;
  margin-bottom: 100px;
  //font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 23px;  
  color: #000000;
  width: 240px;
  height: 193px;
  margin-left: -20px;
  p {
    //margin-top: 0px;
    margin-bottom: 15px;
  }
}

.group {
  margin-top: -10px;
  h3 {
    //font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    //text-decoration-line: underline;
    margin-bottom: 10px;
    margin-left: 1px;
    //margin-top: 0px; 
  }
  a {
    color: #4541FE;
    text-decoration-line: underline;

  }

  p {
    //margin-top: 6px;
    margin-left: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: underline;
    margin-bottom: 8px;
  } 
}

.item_top {
  display: grid;
  grid-gap: 0px;
  margin: 0 auto;
  grid-template-columns: 482px 648px;
  background-color: #FFFFFF;
  margin-top: -42px;
  margin-left: 150px;
}

.item_1 {
  width: 464px;
  height: 320px;
  background: #FFA88C;
  //font-family: "PT Sans";
  h2 {
    width: 260px;
    height: 41px;
    margin-left: 16px;
    //margin-top: 0px;
    padding-top: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    //text-decoration-line: none;
    
    a {
      color: #000000;
    }
  }
  p {
    z-index: 10;
    position: absolute;
    //top: 50px;
    //position: relative;
    margin-left: 16px;
    font-style: normal;
    font-weight: normal;
    margin-top: 34px;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
  }

   .item_1_image {
    margin-top: 44px;
    width: 442.47px;
    height: 223.69px;
    margin-left: 26px;
    background: url(../assets/img/item_1_image.png);
    background-size: cover;
    transform: rotate(-7.82deg);
   }
}

.item_2 {
  width: 464px;
  height: 160px;
  margin-top: 40px;
  background: #7482FF;
  h2 {
    margin-top: -2px;
    width: 322px;
    height: 41px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  p {
    width: 280px;
    height: 42px;
    //margin-top: -16px;
    //margin-left: 16px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
}

.item_3 {
  display: inline-block;
  width: 655px;
  height: 504px;
  background: #FFE9FD;
  margin-top: 4px;

  h2 {
    position: absolute;
    width: 471px;
    height: 41px;
    margin-left: 24px;
    margin-top: 24px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    text-decoration-line: underline;
    color: #000000;
    a {
      color: #000000;
    }
  }
  p {
    position: absolute;
    margin-top: 73px;
    //margin-bottom: -200px;
    margin-left: 24px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
  }

  .item_3_image {
    margin-left: 30px;
    margin-top: 5px;
    position: absolute;
    //margin-top: -80px;
    width: 700px;
    height: 560px;
    background: url(../assets/img/sneakers.png);
    background-size: cover;
  }
}

.item_bottom {
  margin: 0 auto;
  margin-top: -85px;
  width: 1136px;
  height: 480px;
  background: url(../assets/img/item_bottom.jpg);
  h2 {
    margin-top: 22px;
    margin-left: 16px;
    width: 489px;
    height: 41px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    text-decoration-line: underline;
    color: #000000;
  }
  p {
    margin-left: 16px;
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
  }
}

.footer {
  max-width: 1440px;
  background-color: #000;
  margin: 0 auto;
}

.footer_cat {
  display: grid;
  grid-gap: 48px;
  max-width: 1136px;
  height: 300px;
  //font-family: "PT Sans";
  margin: 0 auto;
  padding-top: 42px;
  margin-top: -8px;
  //margin-top: 2px;
  //top: 648px;
  grid-template-columns: 138px 126px 124px 135px 147px 147px;
  a {
    color: #fff;
  }
  .footer_info {
    color: #fff;
  }
}

.contact {
  //width: 120px;
  //height: 67px;
  a {
    //margin-bottom: 0px;
    //margin-top: -15px;
  }
  .mail {
    margin-top: -7px;
  }
  margin-top: 40px;
  .number {
    margin-top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    text-decoration-line: none;
  }
  .call_free {
    margin-top: -7px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.75;
  }
}

.copyright {
  max-width: 1136px;
  margin: 0 auto;
  p, a {
    display: inline-block;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    margin-right: 24px;
    margin-bottom: 32px;
    text-decoration-line: underline;
    color: #666666;
  }
}

.plate {
  max-width: 1440px;
  height: 216px;
  background-color: black;
  margin: 0 auto;
  margin-top: 0px;
  h1 {
    color: white;
    margin-left: 152px;
    padding-top: 24px;
  }
}

.wrapper {
  max-width: 1440px;
  //height: 1987px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 66px;
}

.row {
  margin-top: -60px;
  max-width: 1056px;
  display: grid;
  grid-row-gap: 48px;
  grid-column-gap: 32px;
  margin-left: 152px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1fr);
  div {
    width: 240px;
    height: 344px;
  }
}

.product {
  h3 {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: none;
    color: #000000;
    a {
      color: #000000;
    }
  }
  p {
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
  }
}

.pagination {
  display: inline-block;
  width: 182px;
  height: 52px;
  margin-left: 152px;
  margin-top: 66px;
  margin-bottom: 0px;
  position: relative;
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #666666;
    margin-bottom: 0px;
  }
  a {
    margin-right: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #666666;
    text-decoration-line: none;
  }
  .pagination_active {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin-right: 4px;
  }
}

.item {
  margin-left: 152px;
  margin-right: 152px;
  padding-top: 48px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 464px 656px;
}

.item_header {
  margin-top: 32px;
  margin-left: -2px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: #000000;

  p{
    margin-top: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
  }
}

.item_right_slider_top {
  margin-top: 32px;
  //margin-bottom: 0px;
  max-width: 656px;
  max-height: 656px;
  .slide.slick-slide{
    max-width: 100%;
    height: 656px;
  }
}

.item_right_slider_bottom {
  width: 630px;
  height: 152px;
  margin-top: 24px;
  margin-left: -2px;
  .slick-slide {
    margin-right: 17px;
  }
  .slick-current {
    opacity: 0.5;
  }
}

.item_buy {
  width: 450px;
  height: 267px;
  margin-top: 32px;
  margin-bottom: 32px;      
  margin-left: -26px;
  //margin-right: 34px;
  // padding-left: 24px;
  // padding-right: 24px;
  padding: 14px 0px 0px 24px;
  background-color: #F2F2F2;

  input[type=radio] {
      display: none;
  }

  label {
    display: inline-block;
    cursor: pointer;
    //width: 142px;
    //height: 32px;
    text-align: center;
    //margin-right: 12px;
    //padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #F2F2F2;
    background: #FBFBFB;
    border-radius: 8px;
    user-select: none;
  }

  label:hover {
    border: 1px solid #666666;
  }

  input[type=radio]:checked + label {
    background: #666666;
    color: white;
  }

  h4 {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    //margin-right: 80px;
  }

  .color {
    label {
      display: inline-block;
      cursor: pointer;
      width: 145px;
      height: 32px;
      text-align: center;
      margin-top: 12px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      //color: #FFFFFF;
      //margin-left: 60px;
      margin-right: 10px;
      line-height: 30px;
      box-sizing: border-box;
      border-radius: 8px;
      //margin-left: -2px;
    }
    h4 {
      margin-right: 60px;
    }
  }
  .size {
    label {
      margin-top: 23px;
      display: inline-block;
      cursor: pointer;
      width: 42px;
      height: 32px;
      text-align: center;
      margin-right: 8px;
      line-height: 30px;
      border-radius: 8px;
      box-sizing: border-box;
      user-select: none;
    }
    h4 {
      margin-right: 22px;
    }
  }
  .table{
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    a {
      color: #000000;
    }
    a:hover {
      color: #4541FE;
    }
  }
  .buy {
    width: 167px;
    height: 42px;
    margin-top: 40px;
    background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
    box-shadow: 0px 0px 15px rgba(255, 146, 17, 0.5);
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    a {
      color: #000000;
      text-decoration-line: none;
    }
  }
  .buy:hover {
    //box-shadow: 0px 0px 25px  #FFC908;
    background: linear-gradient(180deg, #F5BF00 0%, #F0AD00 100%);
    border-radius: 4px;
  }

}

.material {
  margin-top: 6px;
  display: inline-block;
  margin-right: 24px;
  margin-left: -2px;
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;           
    color: #AFAFAF;
    margin-bottom: 0;
  }
  p {
    margin-top: 1px;
    margin-right: 1px;
    //font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
}

.country {
  display: inline-block;
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;           
    color: #AFAFAF;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
}
.description {
  margin-top: 33px;
  margin-left: -2px;
  margin-right: 40px;
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;           
    color: #AFAFAF;
    margin-bottom: 1px;
  }
  p {
    margin-top: 3px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
}

.details {
  margin-top: 30px;
  margin-left: -2px;
  h2 {
    //margin-top: 4px;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;           
    color: #AFAFAF;
    margin-bottom: 2px;
  }
  li {
    //margin-bottom: -2px;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
  li:before {
    content: "— "; /* Добавляем в качестве маркера символ */
  }
}

.slider_bottom_header {
  margin-top: 64px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
}

.slider_bottom {
  width: 1150px;
  height: 344px;
  //margin-top: 24;
  //margin-left: -32px;
  padding-right: 18px;
  padding-left: 28px;
  margin-left: 5px;
  .slick-slide {
    //margin-right: 50px;
    //margin-left: 50px;
    //padding-right: 10px;
    //padding-left: 15px;
  }

  .slick-arrow.slick-prev{
    margin-top: 172px;
    margin-left: -16px;
  } 
  /* Стрелка вправо */
  .slick-arrow.slick-next{
    margin-top: 172px;
    margin-right: 14px;
    //right: 32px;
  }
  .slider_item {
    h3 {
      margin-top: 6px;
      margin-right: 90px;
      //margin-bottom: 0px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: #000000;
    }

    a {
      color: black;
    }

    p {
      margin-top: 9px;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;
    }
  }
}

.white-popup {
  width: 688px;
  height: 198px;
  margin: 0 auto;
  background: #FFFFFF;
  button {
    img {
      width: 20px;
      height: 20px;
    }
    
    float: right;
    background: #FFFFFF;
    border: 0;
    margin-top: 10px;
    margin-right: 2px;
    opacity: .4;
  }
  button:hover {
    opacity: 1;
  }
  h1 {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
    margin-left: 24px;
    padding-top: 0px;
  }
  .popup_table {
    width: 640px;
    height: 94px;
    margin-left: 24px;
    padding-bottom: 24px;
    border-collapse: collapse;
    tr{
      text-align: center;
    }
    th, td {
      width: 72px;
      height: 32px;
      border: 1px solid black;
      padding: 0px 0px;
      border: 1px solid #DDDDDD;
      box-sizing: border-box;
    }
    th {
      text-align: left;
      text-indent: 8px;
    }
  }
}

.about {
  display: grid;
  margin: 0 auto;
  max-width: 1136px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 464px 586px;
  //grid-template-columns: 100%;
  align-self: center;
  justify-self: center;
  //align-items: center;
  background-color: #FFFFFF;
}

.about_info {
  margin-top: 46px;
  margin-left: -2px;
  //margin-right: 0px;
  margin-bottom: -8px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  h1 {
    margin-top: 34px;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    color: #000000;
  }
  p {
    //margin-top: -5px;
    margin-bottom: 16px;
  }
}

.about_contact_contact {
  margin-top: 132px;
  margin-left: 83px;
  //margin-bottom: -20px;
  width: 586px;
  height: 354px;
  background-color: #F2F2F2;
  .about_contact_margin {
    //margin-top: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-left: 26px;
    padding-right: 120px;
    .number {
      margin-top: -8px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: #000000;
    }

    .call_free {
      margin-top: -14px;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 30px;
    }

    .address {
      //margin-top: 23px;
      //margin-bottom: -24px;
    }
    .requisites {
      //margin-top: 40px;
    }
    .payment {
      margin-top: 14px;
    }
    .dir {
      margin-top: 18px;
    }
    h3 {
      color: #000000;
      padding-top: 20px;
      margin-bottom: 16px;
    }
    p {
      //margin-top: 12px;
      //margin-bottom: -18px;
      color: #000000;
    }
    a {
      color: #000000;
      //margin-bottom: -100px;
    }
  }
}

.about_contact {
//margin-top: 40px;
}

.checkout_header {
  margin-left: 152px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  .dot {
    color: #DDDDDD;
  }
}


.checkout_item {
  margin-left: 152px;
  margin-right: 152px;
  padding-top: 32px;
  display: grid;
  // grid-gap: 48px;
  //grid-row-gap: 48px;
  grid-column-gap: 24px;
  //max-width: 1056px;
  //margin-left: 152px;
  //background-color: white;
  grid-template-columns: 464px 656px;
}

.form {
  width: 488px;
  height: 470px;
  background-color: grey;
  padding-left: 10px;
  padding-top: 10px;
}

.mail {
  p {
    display: inline-block;
  }
  input {
    margin-left: 40px;
    width: 265px;
    height: 42px;
    background: #FBFBFB;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 2px;
  }
}




.complete{
  //display: grid;
  margin-left: 152px;
  margin-right: 152px;
  padding-top: 32px;
  h1 {
    margin-top: 45px;
  }
  p {
    margin-bottom: 0;
  }
  a {
    color: #000000;
  }
}

.complete_slider {
  margin-top: 50px;
}

