//- index.pug
doctype html
html(lang="ru")
	head
		include head.pug
	body
		div.wrapper
			div.plate
				include menu_light.pug
				h1 Обувь
				div.row
					div.product
						img(src="assets/img/catalog/1.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
						//- span.rub Р
					div.product
						img(src="assets/img/catalog/2.jpg")
						h3 
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/3.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/4.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/5.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/6.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/7.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/8.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/9.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/10.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/11.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/12.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/13.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/14.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/15.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
					div.product
						img(src="assets/img/catalog/16.jpg")
						h3
							a(href="#") Maison Margiela Fusion Low Sneakers
						p Кроссовки
						h3.price 92 000 ₽
				div.pagination
					p Страницы
		script(src="assets/scripts/jquery-3.5.1.slim.min.js")
		script(src="scripts/bundle.js")
		script(src="assets/scripts/slick.min.js")
		script(src="assets/scripts/jquery.magnific-popup.min.js")
		footer.footer
			include footer.pug	