//- Header.pug
header.header
	div.header_slider
	ul.nav
		li.fetch фетч
		li одежда
		li обувь
		li аксессуары
		li блог
		li магазин
		li доставка и оплата
		span.icon
		li оформить заказ
	div.header_slider
		div(class="slide" style="background-image:url(assets/img/slider_hed_1.jpg)")
			div.slider_link Reebok Aztrek  Double
			//- img(src="assets/img/slider_hed_1.jpg", alt="slider_hed_1")
		div(class="slide" style="background-image:url(assets/img/slider_hed_2.jpg)")
			div.slider_black_link Nike ACG: навстречу  новым открытиям
				//- img(src="assets/img/slider_hed_2.jpg", alt="slider_hed_2")