//- Head.pug
head
    meta(charset='UTF-8')
<<<<<<< HEAD
    title Fetch
    //- meta(name="DC.Title" content="Оффлайн-магазин репродукций")
=======
    title Market
    meta(name="DC.Title" content="Оффлайн-магазин репродукций")
    link(rel="preload" href="assets/fonts/Oswald.woff" as="font" crossorigin)
>>>>>>> 924b881104abd238c7caf446f259d8ecb1c75fb9
    link(rel="stylesheet" type="text/css" href="styles/style.css")
    link(rel="stylesheet" type="text/css" href="styles/slick.css")
    link(rel="stylesheet" type="text/css" href="styles/slick-theme.css")
    link(rel="stylesheet" type="text/css" href="assets/styles/magnific-popup.css")
