//- Header.pug
header.header
	div.header_slider
	ul.nav
		li.fetch 
			a(href="index.html") фетч
		li 
			a(href="#") одежда
		li 
			a(href="catalog.html") обувь
		li 
			a(href="#") аксессуары
		li 
			a(href="#") блог
		li 
			a(href="#") магазин
		li 
			a(href="#") доставка и оплата
		li.basket
			span.icon
			a(href="#") оформить заказ
	div.header_slider
		div(class="slide" style="background-image:url(assets/img/slider_hed_1.jpg)")
			div.slider_link Reebok Aztrek  Double
			//- img(src="assets/img/slider_hed_1.jpg", alt="slider_hed_1")
		div(class="slide" style="background-image:url(assets/img/slider_hed_2.jpg)")
			div.slider_black_link Nike ACG: навстречу  новым открытиям
				//- img(src="assets/img/slider_hed_2.jpg", alt="slider_hed_2")