//- index.pug
doctype html
html(lang="ru")
	head
		include head.pug
	body
		include header.pug
		div.grid
			div
				img(src="assets/img/timon.jpg", alt="Foto")
			div.info(id="text")
				h1.info_header немного информации обо мне
				p Моё имя Аркадий в данный момент работаю системным администратором, но давно интересуюсь программированием на различных языках. Думаю в будущем заняться программированием более серьёзно и сделать это основной профессией. Мой опыт работы в сфере IT более 10 лет. Имею отличные знания в области информационной безопасности. Разрабатываю и собираю различные схемы и устройства, пишу технические статьи.
			div.links
				h1.info_header ссылки на любимые фильмы
				ul
					li
						a.link#linkHref(href="https://www.kinopoisk.ru/film/258687/" target="" class="icon-forward") Интерстеллар
					li
						a.link#linkHref(href="https://www.kinopoisk.ru/film/335/ " target="" class="icon-forward") Помни
					li
						a.link#linkHref(href="https://www.kinopoisk.ru/film/4541/ " target="" class="icon-forward") Шоу Трумана 
				//- each name in ['1', '2', '3']
			//- 	div=name      
	//footer
	include footer.pug