//- index.pug
doctype html
html(lang="ru")
	head
		include head.pug
	body
		include header.pug
		div.grid
			each name in ['1', '2', '3', '4', '5', '6']
				div=name      
	//footer
	include footer.pug