//- index.pug
doctype html
html(lang="ru")
	head
		include head.pug
	body
		//include header.pug
		div.container
			div.top
				div.header
					h1 репро 
						|дукцио
					p Оффлайн-магазин репродукций шедевров мирового искусства
					div.info 
						p 
						|Санкт-Петербург,
						br
						|ул.Адмирала Черокова, 18
						p 
						|+7 812 960-22-01
						br
						|shop@reproduct.io
						thre
				div.slider_z
					div.slider
						div
							img(src="assets/img/1.jpg", alt="Kartina1" class="img1")
						div
							img(src="assets/img/2.jpg", alt="Kartina2" class="img2")
						div
							img(src="assets/img/3.jpg", alt="Kartina3" class="img3")
					div.slider_vertical
						div.vertical_img1
							img(src="assets/img/1.jpg", alt="Kartina1" class="vertical_img1")
						div.vertical_img2
							img(src="assets/img/2.jpg", alt="Kartina2" class="vertical_img2")
						div.vertical_img3
							img(src="assets/img/3.jpg", alt="Kartina3" class="vertical_img3")
			div.middle
				div.text_middle
						h1 популярное
						p Нестареющая классика и бестселлеры.
				div.slider_middle
					div
						img(src="assets/img/1.jpg", alt="Kartina1" class="img1")
					div
						img(src="assets/img/2.jpg", alt="Kartina2" class="img2")
					div
						img(src="assets/img/3.jpg", alt="Kartina3" class="img3")
					div
						img(src="assets/img/4.jpg", alt="Kartina4" class="img4")
					div
						img(src="assets/img/5.jpg", alt="Kartina5" class="img5")
					div
						img(src="assets/img/6.jpg", alt="Kartina6" class="img6")
			div.bottom
				div.text_bottom
					h1 написать нам
					p
					div.personal_data
						a(class="js-link-popup" href="#sizes") |Правила обработки персональных данных
						div(id="sizes" class="mfp-hide white-popup-block")
							h1 правила обработки персональных данных
							table
								b test
				div.message
					form.mainform
						p.email
							input(type="email" id="email_message" name="email")
							div(id="error_email" class="error")
						p.msg
							textarea(id="text_message")
							div(id="error_text" class="error")
						p.send
							input(id="send_message" type="button" value="Отправить сообщение")
					//- input(type="text" size="35")
					//- br
					//- textarea(name="comment" cols="40" rows="3")
					//- br
					//- input(type="submit" class="message_send" value="Отправить сообщение")
					//- div(id="formcontent")
		script(src="scripts/jquery-3.5.1.slim.min.js")
		script(src="scripts/bundle.js")
		script(src="scripts/slick.min.js")