//- index.pug
doctype html
html(lang="ru")
	head
		include head.pug
	body
		include header.pug
		script(src="assets/scripts/jquery-3.5.1.slim.min.js")
		script(src="scripts/bundle.js")
		script(src="assets/scripts/slick.min.js")
		script(src="assets/scripts/jquery.magnific-popup.min.js")