//- index.pug
doctype html
html(lang="ru")
	head
		include head.pug
	body
		//include header.pug
		div.container
			div.top
				div.header
					span.fn.org
					h1 репро 
						|дукцио
					span.category Оффлайн-магазин репродукций шедевров мирового искусства
					div.info
						div.vcard
							div.adr
								span.locality Санкт-Петербург,
								br
								span.street-address ул.Адмирала Черокова, 18
							span.tel +7 812 960-22-01
							br
							span.email shop@reproduct.io
				div.slider_z
					div.slider
						div
							img(src="assets/img/1.jpg", alt="Kartina1" class="img1")
						div
							img(src="assets/img/2.jpg", alt="Kartina2" class="img2")
						div
							img(src="assets/img/3.jpg", alt="Kartina3" class="img3")
					div.slider_vertical
						div.vertical_img1
							img(src="assets/img/1.jpg", alt="Kartina1" class="vertical_img1")
						div.vertical_img2
							img(src="assets/img/2.jpg", alt="Kartina2" class="vertical_img2")
						div.vertical_img3
							img(src="assets/img/3.jpg", alt="Kartina3" class="vertical_img3")
			div.middle
				div.text_middle
						h1 популярное
						p Нестареющая классика и бестселлеры.
				div.slider_middle
					div
						img(src="assets/img/1.jpg", alt="Kartina1" class="img1")
					div
						img(src="assets/img/2.jpg", alt="Kartina2" class="img2")
					div
						img(src="assets/img/3.jpg", alt="Kartina3" class="img3")
					div
						img(src="assets/img/4.jpg", alt="Kartina4" class="img4")
					div
						img(src="assets/img/5.jpg", alt="Kartina5" class="img5")
					div
						img(src="assets/img/6.jpg", alt="Kartina6" class="img6")
			div.bottom
				div.text_bottom
					h1 написать нам
					p Заполните форму справа
					p или отправьте письмо на shop@reproduct.io
					div.personal_data
						p Репродукцио, 2019
						a(href="#test-popup" class="show-popup" data-effect="mfp-zoom-in") Правила обработки персональных данных
						div(id="test-popup" class="white-popup mfp-with-anim mfp-hide")
							h1 правила обработки персональных данных 
							//img(src="http://webgrind.ru/wp-content/uploads/2018/09/cat.jpg" alt="")
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti itaque ipsam illum eaque, odio cumque quam asperiores dolores labore ab.
				div(id="message_success" class="message")
					form.mainform
						p.email
							input(id="email_message" name="email" placeholder="Эл.почта")
							div(id="error_email" class="error")
						p.msg
							textarea(id="text_message" placeholder="Сообщение")
							div(id="error_text" class="error")
						p.send
							input(id="send_message" type="button" class="button_send" value="Отправить сообщение")
		script(src="scripts/jquery-3.5.1.slim.min.js")
		script(src="scripts/bundle.js")
		script(src="scripts/slick.min.js")
		script(src="scripts/jquery.magnific-popup.min.js")