//- index.pug
doctype html
html(lang="ru")
	head
		include head.pug
	body
		include header.pug
		div.middle
			div.cat
				div.info
					p 
						b Фетч
						|— мультибрендовый магазин модной одежды.
					p Следим за трендами и часто обновляем ассортимент.
					p Доставляем по Москве за день, по России — за неделю.
				div
				div
				div
				div
				div
			div test2
			div test3
		script(src="assets/scripts/jquery-3.5.1.slim.min.js")
		script(src="scripts/bundle.js")
		script(src="assets/scripts/slick.min.js")
		script(src="assets/scripts/jquery.magnific-popup.min.js")